.background-series {
    margin: -8px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(https://miro.medium.com/max/4800/1*5lyavS59mazOFnb55Z6znQ.webp); 
    background-size: cover; 
    overflow: auto;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

.series-align {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
}

.series-border {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 40px;
    border: 5px solid white;
    background-color: black; 
    padding: 10px;  
    margin-left: 2%;
    text-align: center;
    border-radius: 10px;
}

.series-border-footer {
    margin-top: 3%;
    display: inline-block;
    max-width: 100%;
    max-height: 100%
}

.series-button-footer {
    color: white;
    max-width: 100%;
    width: 200px;
    padding-top: 5%;
    font-size: 15px;
    margin-bottom: 1%;
    background-color: red;
    padding-bottom: 10px;
    border-radius: 7px;
    border: 2px solid black;
}

.series-search-bar {
    display: inline;
}


.series-search-bar-field {
    width: 60%;
    height: 40px;
}

.series-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(https://miro.medium.com/max/4800/1*5lyavS59mazOFnb55Z6znQ.webp); 
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.series-popup-inner {
    text-align: center;
    margin-top: 10%;
    padding: 30px 80px 30px 80px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 4%;
    background-color: black;
    border: 5px solid white;
}

.series-popup-image {
    width: 270px;
    height: 350px;   
}

.series-star {
    color: gray;
    margin: 10px;
}


.btn {
    background: rgba(0,0,0,0);
    position: absolute;
    top:  0;
    right: 0;
    border: none;
    color: red; 
    font-size: 25px; 
    cursor: pointer;
}

img {
    display: inline;
    max-width: 200px;
    max-height: 300px;
}

.checked {
    color: orange;
}